:root {
    --fontePrimaria: "Lato", sans-serif;
    --backgroundPrimario: #fff;
    --backgroundSecundario: #f4f4f4;
    --backgroundTerciario: #495867;
    --backgroundQuarto: #141414;
    --corTexto: #222;
    --corTextoAuxiliar: #585858;
    --corAuxiliar: #FF2449;
    --corAuxiliarTres: #8866ae;
    --corSombra: rgba(0, 0, 0, 0.1);
    --corBorda: rgba(255, 255, 255, 0.6);
    --corBordaAuxiliar: #cdcdcd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontePrimaria);
    text-decoration: none;
}

body {
    background-color: var(--backgroundPrimario);
}

.cabecalho {
    display: flex;
    align-items: center;
    font-size: 15px;
    background-color: var(--backgroundPrimario);
    box-shadow: 0 1px 2px var(--corSombra);
    padding: 5px 20px 5px 22px;
    color: var(--corTexto);
    height: 50px;
    z-index: 100;
    position: relative;
    justify-content: space-between;
    font-weight: bolder;
}

.cabecalho img {
    max-height: 100%;
    width: auto;
}

.logo {
    height: 50px;
    padding: 5px 0px;
}

.cabecalho input {
    width: 50vh;
    height: 30px;
    border-radius: 5px;
    border-style: hidden;
    padding: 5px 40px 5px 15px;
    background-color: var(--backgroundSecundario);
    font-size: 18px;
}

.cabecalho input:focus {
    outline: 1px solid var(--corTexto);
}

.cabecalho input:not(:placeholder-shown)+i {
    color: var(--corAuxiliar);
}

.campoPesquisa {
    position: relative;
    display: flex;
    align-items: center;

}

.campoPesquisa i {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40px;
}

.campoPesquisa i:hover {
    cursor: pointer;
}

.menuLista {
    display: flex;
    list-style: none;
    font-weight: bolder;
    gap: 2vh;
}

.menuLista li {
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 4px solid transparent;
    transition: .2s;
    color: var(--corTexto);
}

.menuLista li:hover {
    border-bottom: 4px solid var(--corAuxiliar);
    cursor: pointer;
}

main {
    display: flex;
    width: 100%;
}

.menu {
    width: 350px;
    height: calc(100vh - 50px);
    background-color: var(--backgroundSecundario);
    flex-shrink: 0;
}

.menuPrincipal {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.fa-github {
    color: #181717;
}

.fa-linkedin {
    color: #0077B5;
}

.btns_lista_menu {
    display: flex;
    width: 120vh;
    height: 50px;
    gap: 10vh;
    align-items: center;
    padding: 5px 20px 5px 22px;
}

.btns_menu {
    display: flex;
    gap: 2vh;

}

.btns_menu button {
    background-color: var(--backgroundPrimario);
    border: 2px solid var(--corSombra);
    border-radius: 5px;
    width: 12vh;
    font-weight: bolder;
    height: 35px;
    font-size: 15px;
    transition: .2s;
}

.btns_menu button:hover {
    cursor: pointer;
    color: var(--corAuxiliar);
}

.cabecalhos {
    width: 100%;
}

.cumprimentos {
    height: 70px;
    background-color: var(--backgroundSecundario);
    font-size: 10px;
    width: 100%;
    padding: 5px 20px 5px 22px;
    display: flex;

    color: var(--corTexto);
}

.fraseBoasVindas {
    border-right: 3px solid var(--corAuxiliar);
    height: 100%;
    padding-right: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fraseRandom {
    display: flex;
    flex-direction: column;
    padding-left: 1vh;
    width: 55vh;
    justify-content: center;
}

.autor {
    font-style: italic;
}

.creditos {
    display: flex;
    justify-content: space-between;
    gap: 2vh;
    font-size: .6rem;
    width: 100%;
    align-items: flex-start;
    color: var(--corTextoAuxiliar);
}

.carrosel {
    background-color: var(--corTexto);
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrosel:hover .setaBtn {
    opacity: 1;
}

.cabecalhoCarrosel {
    height: 75px;
    width: 100%;
    background-color: var(--backgroundTerciario);
    background-image: linear-gradient(to right, var(--backgroundTerciario) 60%, var(--corAuxiliarTres));
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 42px;
    gap: 20px;
    color: var(--backgroundSecundario);
    font-weight: bolder;
    font-size: 18px;
}

.btn_carrosel {
    border: 2px solid var(--corBorda);
    background-color: transparent;
    width: 120px;
    height: 40px;
    border-radius: 3px;
    color: var(--backgroundSecundario);
    transition: .2s;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.btn_carrosel .fa-github {
    color: var(--backgroundSecundario);
}

.btn_carrosel:hover {
    background-color: var(--corAuxiliar);
    border-color: var(--corAuxiliar);
    cursor: pointer;
}

.conteudoPrincipalCarrosel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 0 20px;
}

.setaBtn {
    color: var(--backgroundPrimario);
    font-size: 2rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.2s ease;
}

.setaBtn:hover {
    color: var(--backgroundSecundario);
}

.itensCarrosel {
    width: 80%;
    height: 100%;
    background-color: var(--backgroundQuarto);
    background-size: cover;
    background-position: center;
    position: relative;
}

.itensCarrosel::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(100px);
    background-color: rgba(73, 73, 73, 0);
}

.itemCarroselContainer {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: center;
    gap: 2vh;
}

.imagemCarroselPrincipal {
    width: 40vh;
    height: 25vh;
}

.cardImgPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;

}

.cardImgPrincipal img {
    border-radius: 5px;
}

.cardImgPrincipal p {
    color: var(--backgroundPrimario);
    font-size: 17px;
}

.imgsProjetoCarrosel {
    display: flex;
    gap: 1vh;
}

.imgsProjetoCarrosel img {
    width: 23vh;
    height: 16vh;
    border-radius: 5px;
}

.projetoInformacoes {
    color: var(--backgroundSecundario);
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.projetoDados {
    width: 50vh;
    flex-wrap: wrap;
}

.tagsCarrosselContainer {
    display: flex;
    gap: 1.5vh;
    color: var(--backgroundQuarto);
    width: 50vh;
    flex-wrap: wrap;
}

.tagsCarrosselContainer p {
    background-color: var(--backgroundPrimario);
    padding: 3px 7px;
    min-width: 50px;
    font-size: 11px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.btnVerProjeto {
    border: 2px solid var(--corBorda);
    background-color: transparent;
    width: 120px;
    height: 40px;
    border-radius: 3px;
    color: var(--backgroundSecundario);
    transition: .2s;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.btnVerProjeto i {
    margin-top: 3px;
}

.verProjeto:hover .btnVerProjeto {
    background-color: var(--backgroundPrimario);
    border-color: var(--backgroundPrimario);
    color: var(--corTexto);
    cursor: pointer;
}

.fecharBtn {
    position: absolute;
    right: 30px;
    top: 20px;
    border: 2px solid var(--corBorda);
    background-color: transparent;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    color: var(--backgroundSecundario);
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

.fecharBtn:hover {
    cursor: pointer;
}

.projetosDestaquesContainer {
    padding: 25px 90px 5px 90px;
    font-size: 23px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
    max-width: 100%;
}

.containerProjetosDestaques {
    display: flex;
    gap: 2vh;
    align-items: center;
}

.btnProjetosDestacados {
    border: 1px solid var(--corTexto);
    background-color: transparent;
    width: 35px;
    height: 120px;
    border-radius: 3px;
    color: var(--corTexto);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnProjetosDestacados:hover {
    cursor: pointer;
}

.projetosDestacados {
    display: flex;
    width: 100%; 
    overflow-x: hidden; 
    gap: 2vh;
    align-items: center;
    padding-bottom: 15px;

}

.containerItemDestaque {
    border: 1px solid var(--corBordaAuxiliar);
    box-shadow: 0 2px 4px var(--corSombra);
    border-radius: 3px;
    display: flex;
    gap: 1.5vh;
    padding: 15px 20px;
    width: fit-content;
    max-width: 50vh;
}

.itemDestaqueDados {
    border-right: 1px solid var(--corBordaAuxiliar);
    padding-right: 15px;
    flex: 1;
    white-space: normal;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    gap: .5vh;
    justify-content: space-between;
}

.containerItemDestaque img {
    width: 22vh;
    height: 15vh;
    border-radius: 3px;
    flex-shrink: 0;
}

.projetosDestaquesTitulo {
    font-weight: bolder;
}

.itemDestaqueDadosNome {
    color: var(--corAuxiliar);
    font-size: 18px;
    font-weight: bolder;
}

.itemDestaqueDadosDesc {
    font-size: 15px;
    color: var(--corTextoAuxiliar);
}

.btn_ProjetoDestaque {
    border: 1px solid var(--corTexto);
    background-color: transparent;
    width: 100px;
    height: 35px;
    border-radius: 3px;
    color: var(--corTexto);
    transition: .2s;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.containerItemDestaque:hover .btn_ProjetoDestaque {
    background-color: var(--corAuxiliar);
    border-color: var(--corAuxiliar);
    color: var(--backgroundPrimario);    
}

.containerItemDestaque:hover, .btn_ProjetoDestaque:hover {
    cursor: pointer;
}